<div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Enrolled Students
          </div>
  
          <div class="ag-courses-item_date-box">
            <h1>24</h1>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Irregular Students
          </div>
  
          <div class="ag-courses-item_date-box">
            <h1>5</h1>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Not Enrolled Students
          </div>
  
          <div class="ag-courses-item_date-box">
            <h1>10</h1>
          </div>
        </a>
      </div>

  
  
  
    </div>
  </div>

