<section class="articles">
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="/assets/prof1.png" alt="" />
        </figure>
        <div class="article-body">
          <h2>Prof. Maricel Joson</h2>
          <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, repellat, nihil animi molestias at perferendis culpa delectus autem eaque ipsam quidem pariatur placeat dolore modi veritatis corporis cumque facere beatae possimus itaque ipsa ab! Eveniet hic amet accusamus natus debitis velit fugit non, blanditiis qui dicta suscipit architecto error fuga!          </p>
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="/assets/prof2.png" alt="" />
        </figure>
        <div class="article-body">
          <h2>Prof. Michael James</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda fuga dolorum asperiores architecto quis optio ab ducimus cupiditate pariatur laudantium ratione nobis quam accusamus, natus quo alias cumque quibusdam neque itaque nostrum autem unde nulla. Eaque ipsa saepe culpa hic dolores maxime consequatur odit! Porro modi quidem possimus sed obcaecati!          </p>
            
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="/assets/prof2.png" alt="" />
        </figure>
        <div class="article-body">
          <h2>Prof. David Marcos</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem explicabo expedita praesentium facilis recusandae deleniti, nisi tenetur consequatur cupiditate accusantium corporis officia. Recusandae deleniti doloremque molestias ipsa itaque nihil numquam!          </p>

        </div>
      </div>
    </article>
  </section>