.topnav {
    background-color: #000000;
    color: rgb(252, 252, 252);
    padding: 20px;
    display: flex;
    justify-content: flex-end; /* Align username to the right */
  }
  
  .username {
    text-align: right;
  }
  
  .username p {
    margin: 0;
  }
  
  /* Optional: Style the username text */
  .username p {
    font-weight: bold;
    font-size: 25px;
  }